<div class="gen-wrapper space-nav-ind">
  <div class="filter-buttons gen-width sidebar hidden-xs">
    <form id="filters">
      <% @categories.each do |categ| %>
        <div class="category-list">
          <input type="checkbox" name='<%= categ %>' id='<%= categ %>'>
          <label class="index-category" for='<%= categ %>'>
            <% if categ == "Social Media" %>
              <i class="fa fa-twitter margin-right-10" aria-hidden="true"></i>
            <% elsif categ == "Content" %>
              <i class="fa fa-pencil margin-right-10" aria-hidden="true"></i>
            <% elsif categ == "Research" %>
              <i class="fa fa-flask margin-right-10" aria-hidden="true"></i>
            <% else %>
              <i class="fa fa-object-group margin-right-5" aria-hidden="true"></i>
            <% end %>
          <%= categ %>
          </label>
        </div>
      <% end %>
    </form>
  </div>

  <div class="container margin-right-10 space-top-10">
    <div class="gen-content">
      <div class="gen-listing">
        <div class="row">
          <% if @services.empty? %>
            <div class="col-xs-12 col-sm-6">
              <h1>Sorry, no results found</h1>
            </div>
          <% else %>
            <% @services.each do |service| %>
              <div class="col-xs-12 col-sm-6 col-md-4 space-top-20 selectable-card gen-underline" data-category="<%=service.category%>">
                <%= link_to service_path(service.id) do%>
                <div class="index-card text-left">
                  <div class="bg-picture index-card-img" style="background-image: url( <%= service.picture %>);">
                  </div>
                  <div class="index-card-content no-margin">
                    <div class="avatar-bordered bg-picture avatar-height picture-absolute" style="background-image: url( <%= service.student.student_picture %>);">
                    </div>
                    <h4 class="index-card-title no-margin"><%= service.title %></h4>
                    <% count = 0 %>
                    <% @hash = Review.where(service_id: service.id).map do |hash| %>
                      <% { rating: hash[:rating] } %>
                    <% end %>
                    <% @total = @hash.each do |val| %>
                      <% count += val.values[0] %>
                    <% end %>
                    <% @number_of_reviews = service.reviews.count %>
                    <% @average = (count.to_f/@number_of_reviews.to_f) %>
                    <%= render 'stars' %>
                    <h5 class="index-card-description no-margin"><%= service.student.full_name %></h5>
                  </div>
                </div>
              <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= content_for(:after_js) do %>

  <script>
    $(document).ready(function() {
      $('#filters input:checkbox').change(function () {

        var selectedCategoryNames = $('#filters input:checkbox:checked').map(function () {
          return $(this).attr('name')
        }).toArray();

        cards = $('.selectable-card');
        cards.hide()

        cards.each(function() {

        //   if (selectedCategoryNames.includes($(this).attr('data-category'))) $(this).show()
        // });

        // if you want fade in do
        // ...each(function(index) {
        //     $(this).delay(100*index).fadeIn(300);
        // });
          if (selectedCategoryNames.includes($(this).attr('data-category'))) $(this).delay(100).fadeIn(300);
        });

        if (selectedCategoryNames.length === 0) cards.show();

      });
    });
  </script>

<% end %>

