<div class="container">
  <div class="row">
    <% if @services.empty? %>
      <div class="col-xs-12 col-sm-6">
        <h1>Sorry, no results found</h1>
      </div>
    <% else %>
      <% @services.each do |service| %>
        <div class="col-xs-12 col-sm-6 col-md-4 space-top-20">
          <%= link_to service_path(service.id) do%>
          <div class="index-card text-left">
            <div class="bg-picture index-card-img" style="background-image: url( <%= service.picture %>);">
            </div>
            <div class="index-card-content no-margin">
              <div class="avatar-bordered bg-picture avatar-height picture-absolute" style="background-image: url( <%= service.student.student_picture %>);">
              </div>
              <h4 class="index-card-title no-margin"><%= service.title %></h4>
              <p>there will be a rating here</p>
              <h5 class="index-card-description no-margin"><%= service.student.full_name %></h5>
            </div>
          </div>
        <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
