<div class="container text-center space-nav">
  <div class="row">
    <div class="col-xs-12 space-top-25">
      <h3>Name: <%= @enquire.full_name %></h3>
      <h3>Company: <%= @enquire.company %></h3>
      <h3>Phone Number: <%= @enquire.phone_number %></h3>
      <h3>Email: <%= @enquire.email %></h3>
      <h3>Created at: <%= @enquire.created_at %></h3>
      <h3>Message: <%= @enquire.message %></h3>
    </div>
  </div>
</div>
