<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <div class="profile-form">
      <div class="row">
        <div class="col-lg-12 profile-form-header">
          <h2>Edit your Profile</h2>
        </div>
      </div>
      <%= simple_form_for @user, html: { id: "user-form"} do |f| %>

        <%= f.input :profile_picture %>

        <%= f.input :profile_picture_cache, as: :hidden %>

        <%= f.text_field :first_name, placeholder: 'first name', label:false%>

        <%= f.text_field :last_name, placecholder: 'last name', label:false %>

        <%= f.text_field :portfolio_url, placeholder: 'portfolio url', label:false %>

        <%= f.button :submit, "update profile", class: "btn" %>
      <% end %>
    </div>
  </div>
</div>

