<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="profile-card">
        <div class="profile-picture text-center">
           <% if @user.profile_picture %>
            <%= cl_image_tag @user.profile_picture%>
            <% else %>
            <%= image_tag "default-user.png", width: 100%>
            <% end %>
        </div>
        <div class="card-content">
          <h2 class="username"><%= @user.full_name %></h2>
          <p><%= @user.bio %></p>
          <h4>Skills</h4>
          <p><%= @user.skills %></p>
          <h4>Portfolio</h4>
          <p><%= link_to "my portfolio", "http://#{@user.portfolio_url}" %></p>
        </div>
      </div>
    </div>


  </div>
</div>
