<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="profile-card">
        <div class="profile-picture text-center">
           <% if @user.profile_picture %>
            <%= cl_image_tag @user.profile_picture%>
            <% else %>
            <%= image_tag "/assets/images/default-user.png", class: "profile-large" %>
            <% end %>
        </div>
        <div class="card-content">
          <h2 class="username"><%= @user.full_name %></h2>
          <h4>Company</h4>
          <p><%= @user.company_name %></p>
          <h4>Description</h4>
          <p><%= @user.company_description %></p>
        </div>
      </div>
    </div>
  </div>
</div>
