<% if flash[:thanks] %>
   <div class="alert alert-info"><%= flash[:thanks] %></div>
 <% end %>
<div class="container-fluid banner bg-picture" id="change_color" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.35) 50%), url('<%= asset_path('banner_logo.jpeg') %>')">
  <div class="row">
    <div class="banner-content">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 text-center">
        <h1>我的大象很大<br> <h2>We connect startups with top university students</h2></h1>
      </div>

      <div class="col-xs-12 col-xs-12 col-md-6 col-md-offset-3 text-center space-top-20">
        <%= link_to services_path do %>
          <div class="btn bordered">browse services</div>
        <% end %>
      </div>
       <div class="col-xs-12 col-xs-12 col-md-6 col-md-offset-3 text-center space-top-20">
        <%= link_to new_survey_path do %>
          <div class="btn bordered">Submit a Task</div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- OUR SERVICES WITH CATEGORIES -->
<div class="container text-center pad-top-20 subhead">
  <div class="row">
    <h2 class="margin-top-5">
      <span class="upcase gen-header">Discover Our Services</span>
    </h2>
    <h2 class="no-margin-top">
      <span>We've Got You Covered</span>
    </h2>

    <div class="col-xs-12 col-sm-2 col-sm-offset-5 space-bot-45">
      <div class="small-line"></div>
    </div>

    <div id="effect">
      <div class="col-xs-12 col-sm-6 space-bot-15 pos-rel">
        <div class="gen-img gen-dis">
          <div class="bg-picture gen-category-big gen-wth"></div>
          <div class="gen-num gen-text-big"><span class="dis">WHATEVER</span></div>
          <div class="overlay">
              <a href="#" class="expand">Here comes your text lisa</a>
              <a class="close-overlay hidden">x</a>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 space-bot-15">
        <div class="row">
          <div class="col-xs-12 col-sm-6 space-bot-15">
            <div class="gen-img gen-dis gen-hs">
              <div class="bg-picture gen-category-small gen-social"></div>
              <div class="gen-num-small gen-text-small"><span class="dis">SOCIAL MEDIA</span></div>
              <div class="overlay">
                  <a href="#" class="expand">Here comes your text lisa</a>
                  <a class="close-overlay hidden">x</a>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 space-bot-15">
            <div class="gen-img gen-dis gen-hs">
              <div class="bg-picture gen-category-small gen-design"></div>
              <div class="gen-num-small gen-text-small"><span class="dis">DESIGN</span></div>
              <div class="overlay">
                  <a href="#" class="expand">Here comes your text lisa</a>
                  <a class="close-overlay hidden">x</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6 space-bot-15">
            <div class="gen-img gen-dis gen-hs">
              <div class="bg-picture gen-category-small gen-research"></div>
              <div class="gen-num-small gen-text-small"><span class="dis">RESEARCH</span></div>
              <div class="overlay">
                  <a href="#" class="expand">Here comes your text lisa</a>
                  <a class="close-overlay hidden">x</a>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 space-bot-15">
            <div class="gen-img gen-dis gen-hs">
              <div class="bg-picture gen-category-small gen-cont"></div>
              <div class="gen-num-small gen-text-small"><span class="dis">CONTENT</span></div>
              <div class="overlay">
                  <a href="#" class="expand">Here comes your text lisa</a>
                  <a class="close-overlay hidden">x</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper-grey space-top-home">
  <div class="container text-center pad-top-20 subhead">
    <div class="row">
      <h2 class="margin-top-5">
        <span class="upcase gen-header">How It Works</span>
      </h2>
      <h2 class="no-margin-top">
        <span>maybe need a subheader for this</span>
      </h2>

      <div class="col-xs-12 col-sm-2 col-sm-offset-5 space-bot-45 pad-top-7">
        <div class="small-line"></div>
      </div>
    </div>

    <div class="row space-bot-45">
      <div class="col-xs-12 col-sm-3 col-lg-3">
        <i class="fa fa-search fa-2x" aria-hidden="true"></i>
        <h3>BROWSE SERVICES</h3>
        <p>Browse services and select the service which best suits your needs. All our students are from top universities and have been rigorously vetted by our team</p>
      </div>
      <div class="col-xs-12 col-sm-3 col-lg-3">
        <i class="fa fa-check-square-o fa-2x" aria-hidden="true"></i>
        <h3>SUBMIT A TASK</h3>
        <p>Can't find what you are looking for? Provide us with a brief description of the task, along with any specific
        requirements you may have. We will be in touch within 24h.</p>
      </div>
      <div class="col-xs-12 col-sm-3 col-lg-3">
        <i class="fa fa-graduation-cap fa-2x" aria-hidden="true"></i>
        <h3>MATCH WITH A STUDENT</h3>
        <p>Based on your needs, we will match you a with a top university student. We will provide you their CV and writing sample to ensure that you are satisfied with the match.</p>
      </div>
      <div class="col-xs-12 col-sm-3 col-lg-3">
        <i class="fa fa-users fa-2x" aria-hidden="true"></i>
        <h3>START COLLABORATING</h3>
        <p>You are now ready to start working with your student. Prepare to see your business grow!</p>
      </div>
    </div>
  </div>
</div>

<div class="container text-center pad-top-20 subhead">
  <div class="row">
    <h2 class="margin-top-5">
      <span class="upcase gen-header">Why Choose Us?</span>
    </h2>
    <h2 class="no-margin-top">
      <span>Because we make your life easier and your wallet thicker. It's as simple as that.</span>
      <br>
      <span>Still not convinced? Ok, let's list some more reasons.</span>
    </h2>

    <div class="col-xs-12 col-sm-2 col-sm-offset-5 space-bot-45 pad-top-7">
      <div class="small-line"></div>
    </div>

  </div>
  <div class="row space-bot-45">
    <div class="col-xs-12 col-sm-6 col-lg-3">
      <i class="fa fa-lightbulb-o fa-2x" aria-hidden="true"></i>
      <h3>SUBJECT EXPERTS</h3><br><h3>We only select the top 5%</h3>
      <p>All students must pass a rigorous selection process before they can join our platform. All our students are at least in their second year of studies and most already have work experience.</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-3">
      <i class="fa fa-users fa-2x" aria-hidden="true"></i>
      <h3>FLEXIBILITY</h3><br><h3>We go below the surface</h3>
      <p>Your credibility and reputation matters. We only match you with students that have expertise and knowledge in your field of business to ensure top-notch results that makes you stand out from your competitors.</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-3">
      <i class="fa fa-user-circle-o fa-2x" aria-hidden="true"></i>
      <h3>EXCELLENCE</h3><br><h3>No full time hires and costly freelancers</h3>
      <p>You only use us when you need us. We understand that you must run lean and cannot always commit to full-time hires or fixed term contracts with agencies or freelancers. Your business changes and so do your needs.</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-3">
      <i class="fa fa-money fa-2x" aria-hidden="true"></i>
      <h3>RISK FREE</h3><br><h3>100% satisfaction guaranteed</h3>
      <p>We take pride in the quality of our students. If you are not happy for any reason just tell us what went wrong and we will do our best to fix it. If we fail, you will get a full refund. No more questions asked.</p>
    </div>
  </div>
</div>

<%= content_for(:after_js) do %>
  <script>
    $(document).ready(function(){
      if (Modernizr.touch) {
        // show the close overlay button
        $(".close-overlay").removeClass("hidden");
        // handle the adding of hover class when clicked
        $(".gen-img").click(function(e){
            if (!$(this).hasClass("hover")) {
                $(this).addClass("hover");
                $(this).find('.dis').hide();
            }
        });
        // handle the closing of the overlay
        $(".close-overlay").click(function(e){
            e.preventDefault();
            e.stopPropagation();
            if ($(this).closest(".gen-img").hasClass("hover")) {
                $(this).closest(".gen-img").removeClass("hover");
            }
            $(this).closest(".gen-img").find('.dis').show();
        });
    } else {
        // handle the mouseenter functionality
        $(".gen-img").mouseenter(function(){
            $(this).addClass("hover");
            $(this).find('.dis').hide();
        })
        // handle the mouseleave functionality
        .mouseleave(function(){
            $(this).removeClass("hover");
            $(this).find('.dis').show();
        });
      };

      // From navbar_scroll_change.js
      var scroll_start = 0;
      var change_color = $('#change_color');
      if (change_color.length) {
        $(document).scroll(updateNavStyle);
        updateNavStyle(); // Note this.
      }
    });
  </script>
<!--
  <script>
    $(".gen-dis").hover(function(){
        $(this).find('.dis').hide();
    }, function() {
        $(this).find('.dis').show();
    });
    // there is some problems with fadein and out if you hover really fast
    // disappears on mobile? why
  </script> -->

<% end %>
