<div class="container">
  <div class="row">

    <% if @projects.empty? %>
      <div class="col-xs-12 col-sm-6">
        <h1>Sorry, no results found</h1>
      </div>
    <% else %>
      <% @projects.each do |project| %>
        <div class="col-xs-12 col-sm-6 col-md-4 selectable-card" data-subcategory="<%=project.subcategory%>">
          <%= link_to project_path(project.id) do%>
          <div class="index-card text-center">
            <div class="index-card-img" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.4) 0%, rgba(0,36,61,0.4) 30%), url( <%= project.picture %>);">
            </div>
            <div class="index-card-content">
              <h3 class="index-card-title"><%= project.title %></h3>
              <h5 class="index-card-subcategory"><%= project.subcategory %></h5>
              <p><%= cutoff_text(project.short_description) %></p>
            </div>
          </div>
        <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
