<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <div class="profile-form survey-header">
      <div class="row">
        <div class="col-lg-12 text-center space-top-25">
          <h2>What are your needs ?</h2>
          <p>Please choose the category that suits you best.</p>
          <p>Be as detailed as possible when submitting your project (objectives, technologies, examples, etc...)</p>
        </div>
      </div>
      <div id="survey-steps">
        <%= simple_form_for(@survey) do |f| %>
          <div class="col-xs-12 margin-top-5">
            <p>
            <%= f.input :category, collection: Survey.categories, label: false,
            include_blank: "Select a category", :input_html => { id: 'normal', :onchange => "changeSelect(this)" } %>
            </p>
          </div>
          <div class="col-xs-12 margin-top-5">
            <p>
            <%= f.text_field :title, placeholder: 'Title: Write an Analysis', label:false%>
            </p>
          </div>
          <div class="col-xs-12 margin-top-5">
            <p>
            <%= f.input :description, placeholder: 'Describe your needs, objectives and challenges', label:false,
            :input_html => { id: "no-resize" } %>
            </p>
          </div>
          <div class="col-xs-12 margin-top-5">
            <p>
            <%= f.text_field :budget, placeholder: 'Budget (Optional)', label:false %>
            </p>
          </div>
          <div class="col-xs-12 margin-top-5">
            <p>Should the Student be present in your office for this project?</p>
            <%= f.label :presence, "Yes", :value => "true"  %>
            <%= f.radio_button :presence, true %>
            <br>
            <%= f.label :presence, "No", :value => "false" %>
            <%= f.radio_button :presence, false, :checked => true %>
          </div>
          <div class="col-xs-12 margin-top-5">
            <p>
              <%= f.text_field :email, placeholder: 'Your Email', label:false %>
            </p>
          </div>
           <div class="col-xs-12 margin-top-5">
            <p>
              <%= f.text_field :phone, placeholder: 'Your Phone Number', label:false %>
            </p>
          </div>

          <%= f.button :submit, "Submit your survey", :input_html => { id: "no-resize" } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
