<div class="container text-center">
  <div class="row">
    <div class="col-xs-12 space-top-25">
      <h3>Category: <%= @survey.category %></h3>
      <h3>Title: <%= @survey.title %></h3>
      <h3>Description: <%= @survey.description %></h3>
      <% if @survey.budget.nil? %>
        <h3>No Budget given</h3>
      <% else %>
        <h3>Budget: <%= @survey.budget %>£</h3>
      <% end %>
      <h3>Student Presence: <%= @survey.presence %></h3>
      <h3>Email: <%= @survey.email %></h3>
      <h3>Phone: <%= @survey.phone %></h3>
      <h3>Created at: <%= @survey.created_at %></h3>
    </div>
  </div>
</div>
