<div class="container space-nav">
<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-6 col-sm-offset-3 col-md-offset-3 space-top-20">
    <div class="profile-form text-center">
      <div class="row">
        <div class="col-lg-12 profile-form-header">
          <h1>Purchase of <span><%= @order.service.title %></span></h1>
          <p>By <%= @order.service.student.full_name %></p>
          <div class="bg-picture gen-thanks-student space-top-20" style="background-image: url( <%= @order.service.student.student_picture %>);"></div>
        </div>
      </div>

      <%= form_tag order_payments_path(@order), class: "space-top-20" do %>
        <article>
          <label class="amount">
            <span>Amount: <%= humanized_money_with_symbol(@order.amount) %>/month</span>
          </label>
        </article>
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-name="<%= @order.service.title %>"
          data-email="<%= current_user.email %>"
          data-description="By <%= @order.service.student.full_name %>"
          data-amount="<%= @order.amount_pennies %>"
          data-currency="<%= @order.amount.currency %>">
        </script>
      <% end %>

    </div>
  </div>
</div>
</div>
