<% if flash[:success] %>
   <div class="alert alert-info"><%= flash[:success] %></div>
 <% end %>
 <% if flash[:error] %>
    <div class="alert alert-info"><%= flash[:error] %></div>
  <% end %>
<!-- if i want mobile, it should display tabs -->

<div class="space-nav-ind ">
<!-- Nav tabs -->
  <div class="tab-container gen-width sidebar hidden-xs">
    <div class="responsive">
      <ul class="nav nav-tabs-left" role="tablist">
        <li role="presentation" class="active"><a href="#dashboard" aria-controls="home" role="tab" data-toggle="tab"><i class="fa fa-home margin-right-10" aria-hidden="true"></i>Profile</a></li>
        <% if current_user.admin == true %>
          <li role="presentation"><a href="#my-students" aria-controls="profile" role="tab" data-toggle="tab">My Students</a></li>
          <li role="presentation"><a href="#subscriptions" aria-controls="profile" role="tab" data-toggle="tab">Subscriptions</a></li>
          <li role="presentation"><a href="#surveys" aria-controls="profile" role="tab" data-toggle="tab">Tasks</a></li>
          <li role="presentation"><a href="#enquires" aria-controls="profile" role="tab" data-toggle="tab">Enquiries</a></li>
        <% end %>
        <li role="presentation"><a href="#my-subscriptions" aria-controls="messages" role="tab" data-toggle="tab"><i class="fa fa-gbp margin-right-10" aria-hidden="true"></i><% if current_user.admin %>Services<% else %>My Subscriptions<% end %></a></li>
      </ul>
    </div>
  </div>

  <!-- Tab panes -->
<div class="container margin-right-10 space-top-10">
  <div class="tab-content gen-content">
<!-- EVERYTHING SHOULD BE EDITED IN HERE FOR EACH TAB. ALL HTML CODE GOES IN HERE! -->
    <div role="tabpanel" class="tab-pane active" id="dashboard">
      <div class="space-top-25">
        <div class="row">
          <div class="dash-body col-md-4 col-xs-12">
            <div class="panel-user">
              <div class="panel-pad">
                <div class="bg-picture dash-avatar" style="background-image: url(<%= current_user.profile_picture %>);">
                </div>
              </div>
              <div class="text-center margin-bot-8 text-capitalize dash-name"><%= @user.full_name.titleize %></div>
              <div class="dash-joined text-center pad-bot-10"><span>Joined <%= @user.created_at.strftime("%B #{@user.created_at.day.ordinalize}, %Y") %></span></div>
              <div class="margin-bot-24 text-center">
                <%= link_to "Edit Profile", edit_user_path(@user), class: "btn btn-primary margin-bot" %>
                <%= link_to "Edit pass", edit_user_registration_path(@user), class: "btn btn-primary margin-bot" %>
              </div>
            </div>
            <div class="panel-left-body">
              <div class="panel-pad">
                <div class="panel-about">
                  ABOUT ME
                </div>
                <div>
                  <div class="panel-about-content">
                    <div class="margin-right-10 panel-about-subhead">Email: </div><div><%= @user.email %></div><br>
                    <div class="margin-right-10 panel-about-subhead">Company: </div><div><%= @user.company_name %></div><br>
                    <div class="margin-right-10 panel-about-subhead">Richtung: i will fix this</div><div><%= @user.company_description %></div><br>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <div class="panel-header"></div>
                  <ul class="list-unstyled">
                    <li><a href="#"></a></li>
                  </ul>
              </div>
            </div>
          </div>

          <div class="dash-aside col-md-8 col-xs-12">
            <div class="panel-header dash-name text-capitalize">
              Active Subscriptions
            </div>
            <!-- Subscription Header -->
            <div class="panel-rows">
              <div class="panel-row-header panel-row">
                <span class="panel-cell">Title</span>
                <span class="panel-cell">Student</span>
                <span class="panel-cell">Created</span>
                <span class="panel-cell-right panel-cell"></span>
              </div>
            <!-- All my active subscription -->
              <% if @user.customer_id.nil? || @hash.empty? %>
                <div class="panel-row">
                  <span class="panel-cell">No active subscriptions.</span>
                  <span class="panel-cell-empty"></span>
                  <span class="panel-cell-empty"></span>
                  <span class="panel-cell-empty"></span>
                </div>
              <% else %>
                <% @services.each do |service| %>
                  <%= link_to service_path(service), class: "panel-row" do %>
                    <span class="panel-cell panel-highlight"><%= service.title %></span>
                    <span class="panel-cell"><%= service.student.full_name.titleize %></span>
                    <span class="panel-cell"><%= service.created_at.strftime("%B #{service.created_at.day.ordinalize}, %Y") %></span>
                    <span class="panel-cell panel-cell-right"><%= button_to "Cancel", order_payment_path(service.orders.last, service.orders.last.subscription), :data => { :confirm => "Are you sure?" }, :method => :delete%></span>
                  <% end %>
                <% end %>
              <% end %>
            </div>

          </div>
        </div>
      </div>
    </div>


    <!-- EVERYTHING SHOULD BE EDITED IN HERE FOR EACH TAB. ALL HTML CODE GOES IN HERE! -->
    <% if current_user.admin == true %>
      <div role="tabpanel" class="tab-pane" id="my-students">
        <div class="space-top-20">
          <div class="row">
            <div class="dash-body col-md-2">
              <div class="space-top sidenav-list">
                <%= link_to "Add Student", new_student_path, class: "btn btn-genstudent" %>
              </div>
            </div>
            <div class="dash-aside col-md-10">

              <% if @students.nil? %>
                <div class="space-1 h3">
                  Ah, it seems you have no students yet chemi.
                </div>
              <% end %>

                <% @students.each do |student| %>
                <div class="row panel">
                  <div class="col-md-3 pad-left-right-25">
                    <div class="panel-pad bg-picture middle" style= "background-image: linear-gradient(-225deg, rgba(0,78,55,0.3) 0%, rgba(0,36,61,0.3) 50%), url('<%= student.student_picture %>')">
                    </div>
                  </div>
                  <div class="col-md-7 pad-left-right-25">
                    <div>
                      <h3 id="title" class="marg-bot-5"><%= student.full_name.titleize %> - <%= student.university %></h3>
                      <hr id="line-more-top">
                      <p><%= student.degree %> - Subject: <%= student.subject %> - Year: 19<%= student.year %></p>
                      <p style="opacity: 0.7"><%= student.introduction %></p>
                    </div>
                  </div>
                  <div class="col-md-2 text-center">
                    <div class="pad-top-6"><%= link_to "Edit", edit_student_path(student), class: "btn btn-genstudent" %>
                    </div>
                    <div class="pad-top-6"><%= link_to "Delete", student, class: "btn btn-genstudent", data: { confirm: "Are you sure?" }, method: :delete %></div>
                  </div>
                </div>
                <% end %>
              <div class="space-top">
                <%= link_to "Add New Student", new_student_path, class: "btn btn-genstudent" %>
              </div>
            </div>

          </div>
        </div>
      </div>
    <% end %>

    <!-- EVERYTHING SHOULD BE EDITED IN HERE FOR EACH TAB. ALL HTML CODE GOES IN HERE! -->
    <% if current_user.admin == true %>
      <div role="tabpanel" class="tab-pane" id="subscriptions">
        <div class="row">
          <div class="col-md-12 no-margin-top"><h2>Active Subscriptions</h2></div>
          <% if @orders.empty? %>
            No one subscribed yet
          <% end %>
          <% @orders.each do |order| %>
          <div class="dash-body col-md-4">
            <div class="panel">
              <div class="panel-body text-center">
                <h2 id="title"><%= order.service.title %></h2>
                <div>
                  <p><%= order.service.price %> <%= order.service.price_currency %></p>
                  <p>Subscribed on <%= order.created_at.strftime("%B #{order.created_at.day.ordinalize}, %Y") %></p>
                  <% @customer = User.where(customer_id: order.customer) %>
                  <p>By <span><%= @customer.first.full_name.titleize %></span></p>
                  <p><%= @customer.first.email %></p>
                </div>
                <hr size="10">
                <div class="review"><%= link_to "View Subscription", order_path(order) %></div>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    <% else %>
      <div role="tabpanel" class="tab-pane" id="orders">
        <div class="row">
          <div class="col-md-12 no-margin-top"><h2>Active Orders</h2></div>
            <p>no orders yet</p>
        </div>
      </div>
    <% end %>

    <!-- EVERYTHING SHOULD BE EDITED IN HERE FOR EACH TAB. ALL HTML CODE GOES IN HERE! -->
    <% if current_user.admin == true %>
      <div role="tabpanel" class="tab-pane" id="surveys">
        <div class="row">
          <div class="col-md-12 no-margin-top"><h2>Tasks</h2></div>
          <% if @surveys.empty? %>
            <p>Sorry no Tasks</p>
          <% end %>
          <% @surveys.each do |survey| %>
          <div class="dash-body col-md-4">
            <div class="panel">
              <div class="panel-body text-center">
                <h2 id="title"><%= survey.category %></h2>
                <div>
                  <p><%= survey.email %></p>
                  <p><%= survey.title %></p>
                  <p style="opacity: 0.7"><%= cutoff_text(survey.description) %></p>
                </div>
                <hr size="10">
                <div><%= link_to "View Survey", survey_path(survey) %></div>
                <div class="pad-top-6"><%= link_to "Delete Survey", survey, data: { confirm: "Are you sure?" }, method: :delete %></div>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    <% else %>
      <div role="tabpanel" class="tab-pane" id="surveys">
        <div class="col-md-12 no-margin-top"><h2>Tasks</h2></div>
        <p>No tasks yet</p>
      </div>
    <% end %>

    <!-- EVERYTHING SHOULD BE EDITED IN HERE FOR EACH TAB. ALL HTML CODE GOES IN HERE! -->
    <% if current_user.admin == true %>
      <div role="tabpanel" class="tab-pane" id="enquires">
        <div class="row">
          <div class="col-md-12 no-margin-top"><h2>Enquiries</h2></div>
          <% if @enquires.empty? %>
            <p>Sorry no Enquiries</p>
          <% end %>
          <% @enquires.each do |enquire| %>
          <div class="dash-body col-md-4">
            <div class="panel">
              <div class="panel-body text-center">
                <h2 id="title"><%= enquire.full_name.titleize %></h2>
                <div>
                  <p><%= enquire.email %></p>
                  <p>Company: <%= enquire.company %></p>
                  <p>Service: <%= enquire.service.title %></p>
                  <p><%= enquire.phone_number %></p>
                  <p style="opacity: 0.7"><%= cutoff_text(enquire.message) %></p>
                </div>
                <hr size="10">
                <div><%= link_to "View Enquiry", enquire_path(enquire) %></div>
                <div class="pad-top-6"><%= link_to "Delete Enquiry", enquire, data: { confirm: "Are you sure?" }, method: :delete %></div>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    <% else %>
      <div role="tabpanel" class="tab-pane" id="surveys">
        <div class="col-md-12 no-margin-top"><h2>Enquiries</h2></div>
        <p>No enquiries yet</p>
      </div>
    <% end %>

    <!-- EVERYTHING SHOULD BE EDITED IN HERE FOR EACH TAB. ALL HTML CODE GOES IN HERE! -->
    <% if current_user.admin == true %>
      <div role="tabpanel" class="tab-pane" id="my-subscriptions">
        <div class="row">
          <div class="col-md-12 no-margin-top"><h2 class="font-25">Your Services</h2></div>
          <% @services.each do |service| %>
          <div class="dash-body col-md-4">
            <div class="panel gen-card-height">
              <div class="panel-pad bg-picture service-picture" style="background-image: linear-gradient(-224deg, #99E1A1 0%, #218D46 100%)">
                <div class="text-center pos-abs avatar-position">

                <% if service.student.student_picture.nil? %>
                  <%= image_tag ("https://cms-assets.tutsplus.com/uploads/users/107/posts/25507/image/38-flat-professions-avatars-icons.jpg"), class: "avatar-large-bordered" %>
                <% else %>
                  <%= cl_image_tag service.student.student_picture_url, height: 90, width: 90, crop: :fill, class: "profile-large-bordered" %>
                <% end %>

                </div>
              </div>

              <div class="panel-body text-center">
                <p id="title"><%= service.title %></p>
                <p><%= service.category %></p>
                <div>
                  <p><%= service.start_date %> - <%= service.finish_date %></p>
                  <p style="opacity: 0.7"><%= cutoff_text(service.description) %></p>
                </div>
                <hr size="10">
                <div class="review"><%= link_to "View Service", service_path(service) %></div>
                <div class="pad-top-6"><%= link_to "Edit Service", edit_service_path(service) %></div>
                <div class="pad-top-6"><%= link_to "Delete Service", service, data: { confirm: "Are you sure?" }, method: :delete %></div>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>

    <% else %>

      <div role="tabpanel" class="tab-pane" id="my-subscriptions">
        <div class="row">
          <% if @user.customer_id.nil? %>
            <div class="col-md-12 no-margin-top">
              <h2 class="font-25">No subscriptions yet, place this in the middle</h2>
              <div>Browse Services, link to Servies</div>
            </div>
          <% else %>
            <div class="col-md-12 no-margin-top"><h2 class="font-25">Your Subscriptions</h2></div>
            <% @services.each do |service| %>
            <div class="dash-body col-md-4">
              <div class="panel gen-card-subscribtion">
                <div class="bg-picture service-picture" style="background-image: linear-gradient(-224deg, #99E1A1 0%, #218D46 100%)">
                  <div class="text-center pos-abs avatar-position">
                  <% if service.student.student_picture.nil? %>
                    <%= image_tag ("https://cms-assets.tutsplus.com/uploads/users/107/posts/25507/image/38-flat-professions-avatars-icons.jpg"), class: "avatar-large-bordered" %>
                  <% else %>
                    <%= cl_image_tag service.student.student_picture_url, height: 90, width: 90, crop: :fill, class: "profile-large-bordered" %>
                  <% end %>
                  </div>
                </div>

                <div class="panel-body text-center">
                  <h2 id="title"><%= service.category %></h2>
                  <div>
                    <p><%= service.start_date %> - <%= service.finish_date %></p>
                    <p style="opacity: 0.7"><%= cutoff_text(service.description) %></p>
                  </div>
                  <hr size="10">
                  <div class="review"><%= link_to "View Service", service_path(service) %></div>
                </div>
              </div>
            </div>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>

  </div>
</div>

</div>


